
.popbtn,.requestbtn{cursor:pointer;}

.layer_l{float:left}
.layer_m{width::50%}
.layer_r{float:right}

.pc, .mobile{display:none;}

.solo{background-size:contain !important;margin-top:40px;margin-bottom:40px;}
.half{width:49.5%;display:inline-block}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: left;
}


.main-visual {
  height: 100vh;
}


.main-brand {
  background: url('../img/new/2/main_2_slogan.jpg') no-repeat center center;
  background-size:cover;
  
}

.main-brand_chart{
    /* background: url('../img/landing/main_brand_line_bg.png') repeat; */
	background:white;
	background-image:url('../img/new/emblem_left_bottom.png'), url('../img/new/emblem_right_top.png'),url('../img/new/3/main_3_background.jpg');; 
	background-size:15%, 15%, cover; 
	background-position:right top ,left bottom,center center; 
	background-repeat:no-repeat;
}


.main-map_contract{
	background-image:url('../img/new/emblem_right_bottom_black.png'), url('../img/new/emblem_left_top_black.png'),url('../img/new/4/main_4_background.jpg'); 
	background-size:15%, 15%,cover; 
	background-position:left top ,right bottom,center center; 
	background-repeat:no-repeat;
}


.main-sales_shop_list{
	background: url('../img/new/5/5_shop_background.jpg') no-repeat center center;
	background-size:cover;
}


.main-menu_showup{
	background: url('../img/new/6/main_6_background.jpg') no-repeat center center;
	background-size:cover;
}


.main-prizetitle{
	background:#020201;
}

.main_advantage{
	background: url('../img/new/9/main_9_top_bg.jpg') repeat-y center center;
	background-size:contain;
}


.main_6benefit{
	background: url('../img/new/10/main_10_background.jpg') no-repeat center center;
	background-size:cover;
}

.main_marketing{
	background: url('../img/new/11/main_11_background.jpg') no-repeat center center;
	background-size:cover;
}

.shop_white{
	background: url('../img/new/12/main_12_background.jpg') no-repeat center center;
	background-size:cover;
}

.shop_black{
	background: url('../img/new/13/main_13_background.jpg') no-repeat center center;
	background-size:cover;
}

.main_AD{
	background: url('../img/new/14/main_14_background.jpg') no-repeat center center;
	background-size:cover;
}






.main_menu{
	background-image:url('../img/landing/main_menu_left_top_new.png'), url('../img/landing/main_menu_left_bottom.png'), url('../img/landing/main_menu_right_bottom.png'); 
	background-size:375px 476px, 323px 458px, 449px 458px; 
	background-position:left top ,left bottom, right bottom; 
	background-repeat:no-repeat;
}

.main_inex{
	background: url('../img/landing/main_inex_bg.png') no-repeat;
	background-size:cover;
}
.main_inex .inex_left{
	background: url('../img/landing/main_inex_left.png') no-repeat right top;
}

.main_inex .inex_right{
	background: url('../img/landing/main_inex_right.png') no-repeat left top;
}



#home article{word-break:keep-all;}
#home h2{font-size:30px;font-weight:900;line-height:36px;margin-bottom:20px;letter-spacing:-1.6px;text-shadow:rgba(0,0,0,0.5) 0px 0px 3px;}
#home h4{letter-spacing:-1px;font-weight:700;line-height:30px;text-shadow:rgba(0,0,0,0.5) 0px 0px 2px;}
#home h4 +  h4{margin-top:15px;}


/*---------------------------------------
   main-visual             
-----------------------------------------*/


.main-visual {
	background: url('../img/new/1/main_background.jpg') no-repeat;
	background-position:50% bottom !important; 
	height: 100vh;
	/* top:40px; */
	font-weight:900;
}
 
 
.main-visual .main_video_title{
	 top:-60px;
	 padding-left:0;
	 padding-right:0;
	 margin-left:-30px;
}
 


.main-visual  .main_title{margin-bottom:30px;transition: all 1s;}

.video-wrap {position:relative; padding-bottom:51%; padding-top:24px; height:0; max-height:315px; min-width:404px;min-height:230px;overflow:hidden;}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {position:absolute; top:0; left:-1px; width:100%; height:100%;}


/*---------------------------------------
   main-brand             
-----------------------------------------*/

#main-brand .row{
	margin:0;
}
#main-brand img{
	width:100%;
	mix-blend-mode:screen;
}

h4.desc{
	margin-top:20px;
	line-height:32px;
	letter-spacing:-1px;
	word-break:keep-all;
}


/*---------------------------------------
   main-brand_chart
-----------------------------------------*/

#main-brand_chart{
}

#main-brand_chart .container{
	padding-top:100px;
	padding-bottom:100px;
}

#main-brand_chart .row{
	max-width:1050px;
	margin: 0 auto;
}

#main-brand_chart article{
	margin-top:20px;
	margin-bottom:20px;
	position: relative;
	z-index: 1;
}


/*---------------------------------------
   main-brand_chart
-----------------------------------------*/

#main-map_contract{

}

#main-map_contract .map_contract_title{
	/* position: absolute; */
	text-align: left;
	float:left;
	z-index: 1;
	margin-left:-70px;
	mix-blend-mode: screen;
}

#main-map_contract .map_contract_title img{
	max-width:641px;
	width:100%;
	margin-top:60px;
}

#main-map_contract .map_contract{
	text-align: right;
	
}

#main-map_contract .map_contract img{
	mix-blend-mode: luminosity;
}


/*---------------------------------------
  main-sales_shop_list
-----------------------------------------*/


.main-sales_shop_list {
	color:white;
}

.main-sales_shop_list .row{
	margin-top:10%;
	
}

.main-sales_shop_list .shop_list{
	padding: 80px 0;
}

.main-sales_shop_list .shop_list li{
	margin-bottom:18px;
	/* line-height: 56px; */
	font-size: 2em;
    font-weight: 500;
	padding-left:15px;
}
.main-sales_shop_list .shop_list .bullet{
	display: inline-block;
	width:60px;height:56px;
	margin-right:18px;
}
.main-sales_shop_list .shop_list .bullet img{
	vertical-align: top;;
}

.main-sales_shop_list .shop_img{
	text-align: center;
}


/*---------------------------------------
  main-menu_showup
-----------------------------------------*/


.main-menu_showup {}

.main-menu_showup .row{
	margin-top:10%;
	margin-bottom:10%;
}

.main-menu_showup .row img{
	width:100%;
}


.main-menu_showup .screenimg{
}


/*---------------------------------------
  main-prize
-----------------------------------------*/


.main-prizetitle {}

.main-prizetitle .row{
}

.main-prizetitle .row img{
	width:100%;
}




/*---------------------------------------
  main_advantage
-----------------------------------------*/


.main_advantage {}

.main_advantage .row{
	padding-top:50px;
}

.main_advantage .row img{
	/* width:100%; */
}

.main_advantage .row article:not(:first-child){
	margin-top:-40px
}

.main_advantage .row article:nth-child(2){
	margin-top:-80px
}

.main_advantage .overback,.main_advantage .overback img{
	width:100%;
}


/*---------------------------------------
  main_6benefit
-----------------------------------------*/

.main_6benefit{}
.main_6benefit title{}
.main_6benefit .row{
	padding:80px 0;
}

.main_6benefit .row article{
	margin-bottom: 40px;
}


.main_6benefit .frontground_bg{
	background: url('../img/new/10/main_10_frontground.png') no-repeat center center;
	background-size:cover;
	position: absolute;
	z-index: 2;
	width:100%;
	height:25%;
	max-height:388px;
}

.main_6benefit .frontground_foot_bg{
	background: url('../img/new/10/main_10_frontground_foot.png') no-repeat center center;
	background-size:cover;
	position: absolute;
	z-index: 2;
	width:100%;
	max-height:268px;
	height:25%;
	margin-top:-20%;
}

/*
.main_6benefit .content_1 {
	background: url('../img/new/10/main_10_benefit_bg_1.png') no-repeat top left;
	background-size:contain;
	background-position: 15px 0;
	height:356.98px;
}

.main_6benefit .textcon{
	color:black;
	text-align: center;;
	padding:77% 0 15%;
}

 .main_6benefit .textcon h2{
	margin:0;
	font-size:1.35em;
	font-weight: 600;
	letter-spacing: -1px;
	line-height:28px;
}

.main_6benefit .textcon h3{
	margin:0;
	font-size:1.4em;
	font-weight: 600;
	letter-spacing: -1px;
	line-height:28px;
}

.main_6benefit .textcon p{
	margin:0;
	padding:10px 20px;
	font-size:0.9em;
	font-weight: 500;
	letter-spacing: -1px;
	line-height:22px;
}
 */

/*---------------------------------------
  main_marketing
-----------------------------------------*/

.main_marketing{}
.main_marketing .container{
	padding:40px 0;
}
.main_marketing .title{color:white;}
.main_marketing .title h4{
	max-width: 748px;
    margin: -15px auto 0;
    text-align: center;
	line-height: 30px;
}
.main_marketing .line_background{
	width:100%;
	height:auto;
	display: block;
	position: relative;
	background: url('../img/new/11/main_11_line_background.png') no-repeat center center;
	background-size:cover;
}

.main_marketing article {margin-bottom:40px;padding:30px;}
.main_marketing article img{ }

/* .main_marketing .left-dot-border img{border-left:1px dotted rgba(255,255,255,0.7);padding-left:40px;}
.main_marketing .top-dot-border img{border-top:1px dotted rgba(255,255,255,0.7);} */


/* ---------------------------
  shop_white
-----------------------------------------*/

.shop_white{}
.shop_white .container{
	padding-top:114px;
	padding-bottom: 84px;
	color:black;
}


.shop_white .bullet{
	background: url('../img/new/12/main_12_black_bullet.png') no-repeat left 10px;
	display: inline-flex;
	width:30px;
	height:auto;
}


/* ---------------------------
  shop_black
-----------------------------------------*/

.shop_black{}
.shop_black .container{
	padding-top:114px;
	padding-bottom: 84px;
	color:white;
}

.shop_black .title{
	text-align:right;
}
.shop_black .desc{
	float: right;
}
.shop_black .bullet{
	background: url('../img/new/13/main_13_white_bullet.png') no-repeat right 10px;
	display: inline-flex;
	width:25px;
	height:auto;
}



.shop_interior .title h4{
	font-weight: 400;
}
.shop_interior .desc{
	display:flex;
	max-width:320px;
}
.shop_interior .shop_img{
	text-align: center;
}
.shop_interior ul{margin:28px auto 0;display: flex;max-width:524px;text-align: center;justify-content:space-between;flex-wrap:nowrap}
.shop_interior li{display: inline-flex;padding:0;float:left;}
/* .shop_interior li:first-child{padding-left:0;} */
/* .shop_interior li:not(:last-child){margin-right:17px;} */



/* ---------------------------
  main_AD
-----------------------------------------*/
.main_AD{}
.main_AD .container{
	padding-top:30px;
	padding-bottom:30px;
}
.main_AD .line_background{
	width:100%;
	height:auto;
	display: block;
	position: relative;
	background: url('../img/new/14/main_14_line_background_full.png') no-repeat center center;
	background-size:cover;
}
.main_AD article{
	margin-top:30px;
	margin-bottom:30px;
}


/*---------------------------------------
   Contact section              
-----------------------------------------*/

#contact .col-md-4 {
  padding-left: 0px;
}

#contact .col-md-12 {
  padding-left: 0;
}

#contact form {
  padding-top: 32px;
}

#contact .form-control {
  border: 2px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #555;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  background: #c49a6c;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #333;
}




/* main- brand Responsible*/
#quickmenu{right:30px;top:273px;position:absolute;width:120px;z-index: 10;}

#agreement_con{
	/* display:none; */
}

.agreement_txt{
	border:1px solid #fff;
	min-height:120px;
	background:#fff;
	overflow:auto;
}

#main_request{
	padding:30px 0 90px;
	background:url('../img/new/15/main_15_bg_pattern.jpg');
	color:white;
}

#main_request .main_introduce_title{margin:30px 0;}


.contact_btn{
	/* padding:0 112px; */
	background:#b9905e;
	border:0;
	border-radius:0;
	color:white;
	box-shadow:none;
	font-size:27px;
	line-height:27px;
	width:inherit;
}


#main_request .container{
	padding:0 10px; 
	margin-top:10px;
	color:white;
}

#main_request .select_container{
	
	border:1px solid rgba(255,255,255,0.3);
	padding:30px 10px;
}

#main_request .select_box{
	background:#393939;
	padding:10px;
	line-height:20px;
}

#main_request .box_container{
	padding:0 10px;
	height: 100%;
}

#main_request .select_box h6{
	font-size:0.9em;
	padding-bottom:10px;
	border-bottom:1px solid rgba(255,255,255,0.5)
}

#main_request .select_box label{
	clear:both;
	display:block;
	font-size:0.8em;
	color:white;
	padding-top:0;
		padding-bottom:0;
}

#main_request label.check_label{font-size:0.9em;}
.white{color:white !important}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#main_request .select_box label{
			margin-top:3px;
				margin-bottom:3px;
	}
}


#main_request label{
    color:white;
    margin:0 0 0 0;
	font-size:1.1em;
	font-weight:500;
	margin-bottom:2px;
}

#main_request .text-in{margin-top:20px;}

#main_request i.require{
    color:red;
    text-decoration: none;
    font-size:1.5em;
    font-style: normal;
    vertical-align: bottom;
    line-height: 20px;
}
#main_request .select_location>div{
	padding-left:0; padding-right:0;
}

#main_request .select_location>div.select_sido{
	padding-right:20px;

}

#main_request .contact_agree{
	/* clear:both;
	padding:20px 0 ;
	display: flex; */
	margin-top:0;
}

#main_request .contact_form:after{
	clear:both;
}

/* #main_request .select_sido label.forD{
	color:white;
	display:inline-block;
	vertical-align:middle;
	margin-right:3%;
	line-height:15px;
	margin-bottom:0;
	padding-top:10px;
	float:left;
}
 */
#pop_pay{display:none;}

#main_request .placeholer{
	color:#000;
}

#main_request  .main_contact .text_box{
		display:table-cell;vertical-align:middle;
	}

.g-recaptcha{margin:0 auto;text-align:center;display:block;width:304px;}










/*---------------------------------------
   Mobile Responsive    - max 
-----------------------------------------*/




@media screen and (max-width: 414px) {
	
	#home .col-xs-11{width:98%}
	#home .btn{margin-top:15px;padding:8px 50px}
	#home h2{font-size:1.2em;}
	#home .btn{margin-top:15px;}

	/* .to-animate{margin-left:5px !important;} */
	.main-visual .video-wrap{min-width:inherit;}

	#banner_btn .banner{
		background-size:26% !important;
		padding:5% 3% 5% 40%;
		height:115px;
	}
	.main-visual{height:100vh }

	#banner_btn .banner dt{font-size:1.2em}
	#banner_btn .banner dd{font-size:0.8em}

	.main-sales_shop_list .shop_list li{margin-bottom:0;margin-left:-10px;}
}

@media screen and (max-width: 768px) {

	img{max-width:100%;}
	.main-visual h2{font-size:13px;}

	#main-map_contract .map_contract_title{
		position: inherit;
	}
	#main-map_contract .map_contract{
		margin-top:-80px;
	}
	#main-map_contract .map_contract img{
		margin-top:-20px;
		max-width: 150%;
    	margin-left: -40%;
	}
}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1200px) {
	#main-brand_chart img{width:100%;}
	/* #main_request .select_sido label.forD{
		position:relative;margin-top:-30px; 
	} */

	.main-sales_shop_list .shop_list li{
		font-size:1.6em;
	}

	.main_advantage .row img{width: 100%;}
	.main_6benefit .title img{width: 100%;}

	
	.shop_interior ul{max-width: initial;}
	.shop_interior .interior_img img{width:100%;}
	.shop_interior .interior_img{padding:2%;}
	/* .shop_interior li{display: inline-block;}
	.shop_interior li:not(:last-child){margin-right:18px;} */

	.banner_left_img img{width:100%;}
}

@media screen and (max-width: 993px) {
	.main-sales_shop_list .shop_list{padding:20px 0;}
	#main-sales_shop_list .shop_list img{width: 100%;}
	.main-sales_shop_list .shop_list li{
		font-size:1.2em;
	}
	
	.main-sales_shop_list .shop_list .bullet{
		width:50px;
	}

	.main-sales_shop_list .shop_img img{
		width: 100%;
	}

	.main_marketing .line_background article{
		padding:0;
		margin-left:-10px;
	}

	.main_marketing .line_background article:nth-child(2n){
		margin-left:8px;
	}
	.main_marketing .line_background article img{
		margin-left:-22px;
	}
	.main_AD img{width:100%;}

	.banner_left_img{padding-left:30px;padding-right:30px;margin-bottom:30px;}

	#main_request .contact_form{clear:both;margin-top:40px;float:left;width:100%;}
	#main_request .contact_form .forD{float:left;}
	#main_request  .main_contact .col-md-25.select_box{height:auto;}
	/* #main_request .select_sido label.forD{clear:both;position:relative;width:100%;text-align:left;} */
	#main_request .container .text-box_con{width:100%;}
	
	#quickmenu{top:100px;right:10px;}

}

@media screen and (max-width: 767px){
	.main-visual .main_video_title{margin-left:10px}
	#home .container{position:absolute;top:50vh;}
	#quickmenu{display:none;}
	.main-visual{background-position:53% bottom !important;}
	.col-12{width:100%;_margin-top:30%;}
	
	.main-sales_shop_list .shop_list li{text-align: center;font-size: 1.2em;}
	.main-sales_shop_list .shop_list .bullet{width:44px;}

	.main-sales_shop_list .shop_img{
		padding:0 15%;
	}

	.main_marketing .title h4{font-size:1em;line-height:1.4em;}
	.main_marketing .line_background{background-image: none;}
	.main_marketing .line_background article{
		padding:inherit;
		margin-left:0;
	}

	.main_marketing .line_background article:not(:last-child)::after{
		content:"";
		width: 100%;
		height:17px;
		background: url('../img/new/11/main_11_line_horizon.png') no-repeat center center;
		background-size:cover;
		display: block;
	}

	.main_marketing .line_background article{
		margin-left:0;
		margin-top:-45px;
	}
	.main_marketing .line_background article img{
		margin-left:0px;
	}
	.main_AD .line_background{background-image: none;}
	.main_AD .line_background article:not(:last-child)::after{
		content:"";
		width: 100%;
		height:28px;
		margin-top:30px;
		background: url('../img/new/14/main_14_line_horizon.png') no-repeat center center;
		background-size:cover;
		display: block;
	}

	.shop_interior .desc{max-width: initial;margin-bottom:30px;}
	.shop_white .desc{padding:0 2% 0 0;}
	.shop_black .title {margin-top:30px;padding-right:20px;}
	
}

@media screen and (max-width: 736px) {
	#pop_pay {width:100%;font-size:small;}
	#pop_pay .cate{width:auto;min-width:110px;}
	footer address{padding:10px;font-size:0.8em;}
	.price{min-width:120px !important;}
}

@media screen and (max-width: 650px) {
	
	#home .container{width: 100%;}
	.main-visual .main_video_title{padding:0 10px;top:0;margin-left:0;}
	.main-sales_shop_list .shop_list {padding:30px 0;}


	#home h2{font-size:1.4em;margin-top:15px;margin-bottom:15px;line-height:30px;}
	#home h4{font-size:1em;margin:0;line-height:22px;font-weight:500;letter-spacing:-0.5px;}
	#home h4 + h4{margin-top:10px;margin-bottom:20px;}
	/* .to-animate{margin-left:15px !important;} */
	.mbr{clear:both; display:block;}
}


/*---------------------------------------
   Mobile Responsive   - min  
-----------------------------------------*/

@media screen and (min-width: 767px){
	#main_request .Address_D{
		width:100%;
	}
	#main-map_contract .map_contract{
		margin-top:-210px;
	}
	#main-map_contract .map_contract img{
		width:100%;
	}
	
}

@media screen and (min-width: 994px){
	
	
	#main_request  .main_contact .col-md-25{
		width:20%;
		min-height:50px;
		padding:10px;
		display:inline-block;
		float:left;
	}

	#main_request  .main_contact .col-md-50{
		width:50%;
		min-height:50px;
	}

	#main_request  .main_contact .col-md-5{
		width:40%;
	}

	#main_request .text_box, #main_request .select_box{
		height:340px;
	}
	.mdbr{clear:both;display: block;}

	
}


@media screen and (min-width: 1201px){
	
	#main_request .Address_D{
		/* width:70%;display:inline-block; */
	}
	/* #main_request .Address_D.col-xs-6{width:70%} */
	#main_request .sub_label{font-size:0.5em;line-height:15px;display:block;}

	#main_request .text_box, #main_request .select_box{
		height:340px;
	}
	#pop_pay{display:none;width:1200px}

	#main-map_contract .map_contract{
		margin:150px 0 0 95px;
	}

	#main-map_contract .map_contract img{
		width:initial;
	}

	#main-map_contract .map_contract_title{
		position: absolute;
	}
	
	
}

@media screen and (min-width: 1600px){
	.main-visual{height:100vh;background-position:50% bottom !important;}
	
}


/* reset bootstrap*/

@media screen and (max-width: 1200px) and (min-width: 600px)
{
	span.br{clear:both;display:block;}
}