

.mt30{margin-top:30px;}

.popbtn,.requestbtn{cursor:pointer;}
	
.main-visual {
   background: url('../img/new/1/main_background.jpg') no-repeat;
   background-position:50% bottom !important; 
   height: 100vh;
   /* top:40px; */
   font-weight:900;
}
.main-visual .container{
    width:500px;
}
.main-visual .container article{
	padding:10px 10px 10px 15px;
	/* background:rgba(91,73,49,0.4); */

}




/* main- brand Responsible*/
#quickmenu{right:30px;top:273px;position:absolute;width:120px;}

#agreement_con{
	display:none;
}

.agreement_txt{
	border:1px solid #fff;
	min-height:300px;
	background:#fff;
	overflow:auto;
}

#main_request{
	padding:30px 0;
	background:url('../img/new/15/main_15_bg_pattern.jpg');
	color:white;
}

#main_request .main_introduce_title{margin:30px 0;}


.contact_btn{
	padding:0 112px;
	background:#b9905e;
	border:0;
	border-radius:0;
	color:white;
	box-shadow:none;
	font-size:20px;
}


#main_request .container{
	padding:0 10px; 
	margin-top:10px;
	color:white;
}

#main_request .select_container{
	
	border:1px solid rgba(255,255,255,0.3);
	padding:30px 10px;
}

#main_request .select_box{
	background:#393939;
	padding:10px;
	line-height:20px;
}

#main_request .box_container{
	padding:0 10px;
	height: 100%;
}

#main_request .select_box h6{
	font-size:0.9em;
	padding-bottom:10px;
	border-bottom:1px solid rgba(255,255,255,0.5)
}

#main_request .select_box label{
	clear:both;
	display:block;
	font-size:0.8em;
	color:white;
	padding-top:0;
		padding-bottom:0;

}

.white{color:white !important}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#main_request .select_box label{
			margin-top:3px;
				margin-bottom:3px;
	}
}


#main_request label{
    color:white;
    margin:0 0 0 0;
}

#main_request .text-in{margin-top:20px;}

#main_request i.require{
    color:red;
    text-decoration: none;
    font-size:1.5em;
    font-style: normal;
    vertical-align: bottom;
    line-height: 20px;
}

#main_request .select_sido{
	text-align:right;

}

#main_request .contact_agree{
	clear:both;
	padding:20px 0 ;
	display: flex;
}

#main_request .contact_form:after{
	clear:both;
}

#main_request .select_sido label.forD{
	color:white;
	display:inline-block;
	vertical-align:middle;
	margin-right:3%;
	line-height:15px;
	margin-bottom:0;
	padding-top:10px;
	float:left;
}

#pop_pay{display:none;}

#main_request .placeholer{
	color:#000;
}

#main_request  .main_contact .text_box{
		display:table-cell;vertical-align:middle;
	}

.g-recaptcha{margin:0 auto;text-align:center;display:block;width:304px;}




@media screen and (min-width: 994px){
	#main_request  .main_contact .col-md-25{
		width:20%;
		min-height:50px;
		padding:10px;
		display:inline-block;
		float:left;
	}

	#main_request  .main_contact .select_sido{
		padding-right:0;
	}

	#main_request  .main_contact .col-md-50{
		width:50%;
		min-height:50px;
	}

	#main_request  .main_contact .col-md-5{
		width:40%;
	}

	#main_request .text_box, #main_request .select_box{
		height:340px;
	}
	.mdbr{clear:both;display: block;}
}



@media screen and (min-width: 1201px){
	
	#main_request .Address_D{
		width:70%;display:inline-block;
	}
	#main_request .Address_D.col-xs-6{width:70%}
	#main_request .sub_label{font-size:0.5em;line-height:15px;display:block;}

	#main_request .text_box, #main_request .select_box{
		height:340px;
	}
	#pop_pay{display:none;width:1200px}

	
}


@media screen and (max-width: 1680px) {
	
}

@media screen and (max-width: 1200px) {
	#main_request .select_sido label.forD{
		position:relative;margin-top:-30px; 
	}

	
}

@media screen and (max-width: 993px) {
	
	
	#main_request .contact_form{clear:both;margin-top:40px;float:left;width:100%;}
	#main_request .contact_form .forD{float:left;}
	#main_request  .main_contact .col-md-25.select_box{
		height:auto;
	}
	#main_request .select_sido label.forD{clear:both;position:relative;width:100%;text-align:left;}
	#main_request .container .text-box_con{width:100%;}
	
	#quickmenu{top:100px;right:10px;}
}

@media screen and (min-width: 767px){
	#main_request .Address_D{
		width:100%;
	}

	
	
	.main-visual .container{
		position:absolute;
        width:100%;
		top:400px;
		left:20%;
	}
}

@media screen and (min-width: 1800px){
	.main-visual{height:100vh;background-position:50% 50% !important;}
}

@media screen and (max-width: 736px) {
	#pop_pay {width:100%;font-size:small;}
	#pop_pay .cate{width:auto;min-width:110px;}
	footer address{padding:10px;font-size:0.8em;}
	.price{min-width:120px !important;}
}

@media (max-width: 414px) {
	#banner_btn .banner{
		background-size:26% !important;
		padding:5% 3% 5% 40%;
		height:115px;
	}
	.main-visual{height:100vh }
	#banner_btn .banner dt{font-size:1.2em}
	#banner_btn .banner dd{font-size:0.8em}
	
}

@media (max-width: 650px) {
	
}

@media (max-width: 768px) {
	#quickmenu{display:none;}
	.main-visual{background-position:45% bottom !important;height:100vh }
	.main-visual .container{}
	.col-12{width:100%;margin-top:30%;}
}